* {
  padding: 0%;
  margin: 0%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}

body {
  font-family: var(--font-family);
  background-color: black;
  color: rgb(255, 255, 255);
}

.calc-display {
  height: 50px;
  justify-content: center;
  align-items: center;
  text-align: right;
  border: 1px solid rgb(0, 0, 0);
  overflow: auto;
  width: 34vh;
  margin: 1vh;
  font-size: medium;
  padding: 12px;
  border-radius: 10px;
}

p {
  padding: 1vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  flex-direction: column;
  color: rgb(0, 0, 0);
  margin-top: 15vh;
  margin-left: 80vh;
  width: 36vh;
  height: fit-content;
  padding: 2vh;
  border-radius: 20px;
}

button {
  border-radius: 8px;
  border: 1px solid black;
  height: 6vh;
  width: 10vh;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 1vh;
}

button:hover {
  border-color: green;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}